*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}
body button,li{
    cursor: pointer;
}

/* Navbar Start */
.navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
    padding: 10px;
    /* position: fixed;
       width: 100%; */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.navbar-logo img {
    width: 60px;
}

.navbar-links ul {
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}

.navbar-links ul li a,
.navbar-links ul li {
    padding: 13px;
    letter-spacing: 1px;
    color: #111;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
}
.dropdown-content a:hover {
    background-color: #f0cf64;
    color: #111;
}
.dropdown-content a {
    padding: 15px;
    color: #000000;
    display: block;
    text-align: left;
    text-decoration: none;  
    background-color: #ffffff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar-icons i {
    margin-left: 1rem;
    color: #111;
    cursor: pointer;
}
.enquiry-btn button{
    padding: 10px 20px;
    margin-top: 10px; 
    border-radius: 20px;
    border: #f7be03 1px solid;
    letter-spacing: 1px;
    background-color: #f0cf64;
}
.enquiry-btn button:hover{
    background: none;
}
/* Navbar End */


/* Banner Start */
.bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.726)), url(/Images/banner2.jpg);
    padding: 10rem; 
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.banner-container p {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}

.banner-container h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}
.banner-btn{
    text-align: center;
}
.order-btn-banner{
    padding: 10px 20px;
    margin-top: 10px; 
    border-radius: 10px;
    border: #f7be03 1px solid;
    letter-spacing: 1px;
    background-color: #ffffff;
}
.order-btn-banner:hover{
    border: #f7be03 1px solid;
    letter-spacing: 1px;
    background-color: #f0cf64;
}
.contact-btn-banner{
    padding: 10px 20px;
    margin-top: 10px; 
    border-radius: 10px;
    border: #f7be03 1px solid;
    letter-spacing: 1px;
    background-color: #f0cf64;
}
.contact-btn-banner:hover{
    border: #f7be03 1px solid;
    letter-spacing: 1px;
    background-color: #ffffff;
}
/* Banner End */


/* About Us Start */
.aboutus {
    padding: 2rem;
}

.aboutus-container {
    width: 100%;
    display: flex;
}

.left-aboutus {
    width: 48%;
}

.left-aboutus img {
    width: 90%;
    height: 500px;
    border-radius: 5px;
}

.right-aboutus {
    width: 60%;
    padding-top: 2rem;
}

.right-aboutus h3 {
    margin-bottom: 2rem;
}

.right-aboutus h2 {
    margin-bottom: 2rem;
}

.right-aboutus p {
    color: #000000;
    line-height: 35px;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.right-aboutus button {
    padding: 10px 20px;
    margin-top: 10px; 
    border-radius: 20px;
    border: #f7be03 1px solid;
    letter-spacing: 1px;
    background-color: #f0cf64;
}

.right-aboutus button:hover {
    background: none;
}

/* About Us End */


/* Success Start */
.success{
    padding: 2rem;
    background-color: #f7d66a;
}
.success-container{
    display: flex;
    justify-content: space-around;
}
.child-success{
    text-align: center;
    margin: 10px;
}
.child-success h3{
    margin-bottom: 1rem;
}
.child-success p{
    font-size: 13px;
    letter-spacing: 1px;
}
/* Success End */


/* Our Product Start */
.product{
    padding: 2rem;
}
.product h2{
    text-align: center;
    margin-bottom: 2rem;
}
.product-container{
    display: flex;
    justify-content: space-around;
}
.child-product img{
    width: 200px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    padding: 20px;
    border-radius: 5px;
}
.child-product{
    text-align: center;
}
.child-product button{
    padding: 5px 20px;
    margin-top: 10px; 
    border-radius: 5px;
    border: #f7be03 1px solid;
    letter-spacing: 1px;
    background-color: #f0cf64;
}
.child-product button:hover{
    background: none;
}
/* Our Product End */



/* Booknow Start */
.booknow-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.726)), url(/Images/Booknow.jpg) repeat fixed;
    padding: 2rem; 
    background-size: cover;
}

.booknow-container p {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}

.booknow-container h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}
.booknow-btn{
    text-align: center;
}
.booknow-btn button{
    padding: 10px 20px;
    margin-top: 10px; 
    border-radius: 10px;
    border: #f7be03 1px solid;
    letter-spacing: 1px;
}
.booknow-btn button:hover{
    border: #ffffff 1px solid;
    letter-spacing: 1px;
    background-color: #f0cf64;
}
/* Booknow End */

/* Contact Us Start */
.contact{
    margin: 3rem;
}
.contact-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}
.contact-info{
    width: 40%;
    padding: 2rem;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Contact Form Styling */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3rem;
    width: 60%;
    padding: 2rem;
}
.info-section h3,p{
    margin-bottom: 8px;
}
.contact-form label {
    font-weight: bold;
}

.contact-form input, 
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.contact-form button {
    padding: 5px 20px;
    margin-top: 10px; 
    border-radius: 5px;
    border: #f7be03 1px solid;
    letter-spacing: 1px;
    background-color: #f0cf64;
    width: 20%;
}

.contact-form button:hover {
    border: #f0cf64 1px solid;
    letter-spacing: 1px;
    background-color: #fff;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.info-section h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
/* Contact Us End */

/* Footer Start */
.footer{
    background-color: #ececec;
    padding: 2rem;
    color: #000000;
    margin-top: 1px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.company h3{
    margin-bottom: 1rem;
}
.footer-container ul li{
    list-style-type: none;
    margin-top: 1rem;
}
.newsletter h3{
    margin-bottom: 1rem;
}
.newsletter input{
    padding: 10px;
    border: none;
    border-radius: 7px 0 0 7px;
    border: 1px solid #adadad;
}
.newsletter button{
    padding: 10px;
    border: none;
    border-radius: 0 7px 7px 0;
    border: 1px solid #adadad;
}
.footer-container h3{
    font-size: 15px;
}
.footer-container ul li, p{
    font-size: 14px;
}

@media screen and (max-width: 768px){
    .footer-container{
        display: block;
        justify-content: space-around;
        text-align: center;
    }
    .compan, .policies, .newsletter, .knowus{
        margin-top: 4rem;
    }
}
@media screen and (max-width: 320px){
    .footer-container{
        display: block;
        justify-content: space-around;
        text-align: center;
    }
    .compan, .policies, .newsletter, .knowus{
        margin-top: 2rem;
    }
    .footer-container h3{
        font-size: 14px;
    }
    .footer-container ul li, p{
        font-size: 12px;
    }
}
/* Footer End */