*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}
body button,li{
    cursor: pointer;
}





/* Product Banner Start */
.product-banner-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.541)), url(/Images/Sand-images/sand-banner.jpg);
    padding: 5rem; 
    background-size: cover;
}
.product-banner-container h1{
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.product-banner-container a{
    text-decoration: none;
    color: #fff;
}
/* Product Banner End */
